<div id="chatContainer">
  <h1>Bienvenidos al BackendChat</h1>
  <div id="messageLogs"></div>
  <input id="chatBox" type="text" placeholder="Escribe un mensaje..." />
  <button id="sendButton">Enviar</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>