header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #f57c00;
  color: #fff;
}
.welcome-message {
  margin: 0;
  font-size: 18px;
}

.avatar-de-github {
  display: flex;
  align-items: center;
}

.avatar-de-github img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 10px;
}
